.git
build/
build*/
cmake-build*/
Debug/
Release/
out/
Meshing/out/
Meshing/gmsh-*/
.vs/
.vscode/ipch/
.vscode/settings.json
docs/*tree*.txt
*.exe
.tmp.drivedownload/
.tmp.driveupload/
__pycache__/
results/
results_*/
Warp_Plans/
