build/
build*/
cmake-build*/
Debug/
Release/
out/
Meshing/out/
Meshing/gmsh-*/
.trae/
.vs/
.idea/
.vscode/ipch/
.vscode/settings.json
docs/*tree*.txt
s\ -File\ .scriptsgit_checkpoint.ps1*
**/*.exe
.tmp.drivedownload/
.tmp.driveupload/
__pycache__/
results/
results_*/
Warp_Plans/
