build/
build*/
cmake-build*/
Debug/
Release/
out/
Meshing/out/
Meshing/gmsh-*/
.vs/
.vscode/ipch/
.vscode/settings.json
results/**
docs/*tree*.txt
s\ -File\ .scriptsgit_checkpoint.ps1*
**/*.exe
*.vtk
*.csv
.tmp.drivedownload/
.tmp.driveupload/
__pycache__/